In [ ]:
from selenium import webdriver

In [2]:
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
from time import sleep

In [72]:
from selenium.common.exceptions import NoSuchElementException

In [5]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [7]:
rank = []
for i in range(1,31):
    xpath = "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[%s]/td[1]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    rank.append(n)

In [8]:
rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [11]:
name = []
for i in range(1,31):
    try:
        xpath = "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[%s]/td[2]"%(i)
        r = driver.find_element(By.XPATH,xpath).text
        name.append(r)
    except NoSuchElementException as e:
        name.append(r)

In [12]:
name

['"Baby Shark Dance"[3]',
 '"Despacito"[6]',
 '"Johny Johny Yes Papa"[12]',
 '"Shape of You"[13]',
 '"See You Again"[15]',
 '"Bath Song"[20]',
 '"Phonics Song with Two Words"[21]',
 '"Uptown Funk"[22]',
 '"Learning Colors – Colorful Eggs on a Farm"[23]',
 '"Masha and the Bear – Recipe for Disaster"[24]',
 '"Gangnam Style"[25]',
 '"Wheels on the Bus"[30]',
 '"Dame Tu Cosita"[31]',
 '"Sugar"[32]',
 '"Roar"[33]',
 '"Counting Stars"[34]',
 '"Sorry"[35]',
 '"Thinking Out Loud"[36]',
 '"Axel F"[37]',
 '"Dark Horse"[38]',
 '"Girls Like You"[39]',
 '"Faded"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Let Her Go"[42]',
 '"Bailando"[43]',
 '"Lean On"[44]',
 '"Perfect"[45]',
 '"Waka Waka (This Time for Africa)"[46]',
 '"Shake It Off"[47]',
 '"Mi Gente"[48]']

In [13]:
nam = []
for i in range(1,31):
    xpath = "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[%s]/td[3]"%(i)
    na = driver.find_element(By.XPATH,xpath).text
    nam.append(na)

In [14]:
nam

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon – Nursery Rhymes',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Get Movies',
 'Psy',
 'Cocomelon – Nursery Rhymes',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Ed Sheeran',
 'Crazy Frog',
 'Katy Perry',
 'Maroon 5',
 'Alan Walker',
 'Cocomelon – Nursery Rhymes',
 'Passenger',
 'Enrique Iglesias',
 'Major Lazer',
 'Ed Sheeran',
 'Shakira',
 'Taylor Swift',
 'J Balvin']

In [15]:
view = []
for i in range(1,31):
    xpath = "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[%s]/td[4]"%(i)
    vie = driver.find_element(By.XPATH,xpath).text
    view.append(vie)

In [16]:
view

['11.05',
 '7.93',
 '6.40',
 '5.77',
 '5.59',
 '5.54',
 '4.77',
 '4.65',
 '4.60',
 '4.50',
 '4.50',
 '4.24',
 '4.00',
 '3.74',
 '3.63',
 '3.62',
 '3.57',
 '3.48',
 '3.45',
 '3.32',
 '3.32',
 '3.32',
 '3.31',
 '3.27',
 '3.25',
 '3.24',
 '3.22',
 '3.21',
 '3.19',
 '3.11']

In [17]:
date = []
for i in range(1,31):
    xpath = "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[%s]/td[5]"%(i)
    dat = driver.find_element(By.XPATH,xpath).text
    date.append(dat)

In [18]:
date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'May 2, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'January 31, 2012',
 'July 15, 2012',
 'May 24, 2018',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'October 7, 2014',
 'June 16, 2009',
 'February 20, 2014',
 'May 31, 2018',
 'December 3, 2015',
 'June 25, 2018',
 'July 25, 2012',
 'April 11, 2014',
 'March 22, 2015',
 'November 9, 2017',
 'June 4, 2010',
 'August 18, 2014',
 'June 29, 2017']

In [19]:
df = pd.DataFrame({'Rank':rank,'Name':name,'View':view,'Date':date})
df

,Rank,Name,View,Date
0,1.,"""Baby Shark Dance""[3]",11.05,"June 17, 2016"
1,2.,"""Despacito""[6]",7.93,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",6.40,"October 8, 2016"
3,4.,"""Shape of You""[13]",5.77,"January 30, 2017"
4,5.,"""See You Again""[15]",5.59,"April 6, 2015"
5,6.,"""Bath Song""[20]",5.54,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",4.77,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",4.65,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",4.60,"February 27, 2018"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",4.50,"January 31, 2012"
10,11.,"""Gangnam Style""[25]",4.50,"July 15, 2012"
11,12.,"""Wheels on the Bus""[30]",4.24,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",4.00,"April 5, 2018"
13,14.,"""Sugar""[32]",3.74,"January 14, 2015"
14,15.,"""Roar""[33]",3.63,"September 5, 2013"
15,16.,"""Counting Stars""[34]",3.62,"May 31, 2013"
16,17.,"""Sorry""[35]",3.57,"October 22, 2015"
17,18.,"""Thinking Out Loud""[36]",3.48,"October 7, 2014"
18,19.,"""Axel F""[37]",3.45,"June 16, 2009"
19,20.,"""Dark Horse""[38]",3.32,"February 20, 2014"
20,21.,"""Girls Like You""[39]",3.32,"May 31, 2018"
21,22.,"""Faded""[40]",3.32,"December 3, 2015"
22,23.,"""Baa Baa Black Sheep""[41]",3.31,"June 25, 2018"
23,24.,"""Let Her Go""[42]",3.27,"July 25, 2012"
24,25.,"""Bailando""[43]",3.25,"April 11, 2014"
25,26.,"""Lean On""[44]",3.24,"March 22, 2015"
26,27.,"""Perfect""[45]",3.22,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",3.21,"June 4, 2010"
28,29.,"""Shake It Off""[47]",3.19,"August 18, 2014"
29,30.,"""Mi Gente""[48]",3.11,"June 29, 2017"

In [20]:
s=df['Rank'].str.split(pat='.',expand = True)
s

     0 1
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23
23  24
24  25
25  26
26  27
27  28
28  29
29  30

In [22]:
t=df['Name'].str.split(pat='"',expand = True)
t

   0                                          1     2
0                              Baby Shark Dance   [3]
1                                     Despacito   [6]
2                          Johny Johny Yes Papa  [12]
3                                  Shape of You  [13]
4                                 See You Again  [15]
5                                     Bath Song  [20]
6                   Phonics Song with Two Words  [21]
7                                   Uptown Funk  [22]
8     Learning Colors – Colorful Eggs on a Farm  [23]
9      Masha and the Bear – Recipe for Disaster  [24]
10                                Gangnam Style  [25]
11                            Wheels on the Bus  [30]
12                               Dame Tu Cosita  [31]
13                                        Sugar  [32]
14                                         Roar  [33]
15                               Counting Stars  [34]
16                                        Sorry  [35]
17                            Thinking Out Loud  [36]
18                                       Axel F  [37]
19                                   Dark Horse  [38]
20                               Girls Like You  [39]
21                                        Faded  [40]
22                          Baa Baa Black Sheep  [41]
23                                   Let Her Go  [42]
24                                     Bailando  [43]
25                                      Lean On  [44]
26                                      Perfect  [45]
27             Waka Waka (This Time for Africa)  [46]
28                                 Shake It Off  [47]
29                                     Mi Gente  [48]

In [23]:
df['Rank'] = s[0]

In [24]:
df['Name'] = t[1]

In [25]:
df

   Rank                                       Name   View               Date
0     1                           Baby Shark Dance  11.05      June 17, 2016
1     2                                  Despacito   7.93   January 12, 2017
2     3                       Johny Johny Yes Papa   6.40    October 8, 2016
3     4                               Shape of You   5.77   January 30, 2017
4     5                              See You Again   5.59      April 6, 2015
5     6                                  Bath Song   5.54        May 2, 2018
6     7                Phonics Song with Two Words   4.77      March 6, 2014
7     8                                Uptown Funk   4.65  November 19, 2014
8     9  Learning Colors – Colorful Eggs on a Farm   4.60  February 27, 2018
9    10   Masha and the Bear – Recipe for Disaster   4.50   January 31, 2012
10   11                              Gangnam Style   4.50      July 15, 2012
11   12                          Wheels on the Bus   4.24       May 24, 2018
12   13                             Dame Tu Cosita   4.00      April 5, 2018
13   14                                      Sugar   3.74   January 14, 2015
14   15                                       Roar   3.63  September 5, 2013
15   16                             Counting Stars   3.62       May 31, 2013
16   17                                      Sorry   3.57   October 22, 2015
17   18                          Thinking Out Loud   3.48    October 7, 2014
18   19                                     Axel F   3.45      June 16, 2009
19   20                                 Dark Horse   3.32  February 20, 2014
20   21                             Girls Like You   3.32       May 31, 2018
21   22                                      Faded   3.32   December 3, 2015
22   23                        Baa Baa Black Sheep   3.31      June 25, 2018
23   24                                 Let Her Go   3.27      July 25, 2012
24   25                                   Bailando   3.25     April 11, 2014
25   26                                    Lean On   3.24     March 22, 2015
26   27                                    Perfect   3.22   November 9, 2017
27   28           Waka Waka (This Time for Africa)   3.21       June 4, 2010
28   29                               Shake It Off   3.19    August 18, 2014
29   30                                   Mi Gente   3.11      June 29, 2017

  
  
  
  2:     https://www.bcci.tv/international/fixtures

In [2]:
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
from time import sleep

In [4]:
from selenium.common.exceptions import NoSuchElementException

In [5]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [6]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [7]:
int = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')

In [8]:
int.click()

In [10]:
details = []
det = driver.find_elements(By.XPATH,'//div[@class="fixture-card-top"]')
for i in det:
    details.append(i.text)

In [11]:
details

['INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n18 AUG 2022\n12:45 PM IST',
 'INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n20 AUG 2022\n12:45 PM IST',
 'INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n22 AUG 2022\n12:45 PM IST',
 'ASIA CUP 2022\n28 AUG 2022\n7:30 PM IST',
 'ASIA CUP 2022\n31 AUG 2022\n7:30 PM IST',
 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n20 SEP 2022\n7:30 PM IST',
 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n23 SEP 2022\n7:30 PM IST',
 'AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n25 SEP 2022\n7:30 PM IST']

In [13]:
info = []
inf = driver.find_elements(By.XPATH,'//div[@class="fixture-card-bottom"]')
for g in inf:
    info.append(g.text)

In [14]:
info

['1st ODI - Harare Sports Club, Harare\nMatch Centre',
 '2nd ODI - Harare Sports Club, Harare\nMatch Centre',
 '3rd ODI - Harare Sports Club, Harare\nMatch Centre',
 '1st T20I - Dubai International Cricket Stadium, Dubai\nMatch Centre',
 '2nd T20I - Dubai International Cricket Stadium, Dubai\nMatch Centre',
 '1st T20I - Punjab Cricket Association IS Bindra Stadium, Mohali\nMatch Centre',
 '2nd T20I - Vidarbha Cricket Association Stadium, Nagpur\nMatch Centre',
 '3rd T20I - Rajiv Gandhi International Stadium, Hyderabad\nMatch Centre']

In [15]:
df = pd.DataFrame({'Series':details,'Place':info})
df

,Series,Place
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n18 AUG...,"1st ODI - Harare Sports Club, Harare\nMatch Ce..."
1,INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n20 AUG...,"2nd ODI - Harare Sports Club, Harare\nMatch Ce..."
2,INDIA TOUR OF ZIMBABWE ODI SERIES 2022\n22 AUG...,"3rd ODI - Harare Sports Club, Harare\nMatch Ce..."
3,ASIA CUP 2022\n28 AUG 2022\n7:30 PM IST,1st T20I - Dubai International Cricket Stadium...
4,ASIA CUP 2022\n31 AUG 2022\n7:30 PM IST,2nd T20I - Dubai International Cricket Stadium...
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n20 SE...,1st T20I - Punjab Cricket Association IS Bindr...
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n23 SE...,2nd T20I - Vidarbha Cricket Association Stadiu...
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022\n25 SE...,"3rd T20I - Rajiv Gandhi International Stadium,..."

In [16]:
s=df['Series'].str.split(pat='\n',expand = True)
s

                                         0            1             2
0   INDIA TOUR OF ZIMBABWE ODI SERIES 2022  18 AUG 2022  12:45 PM IST
1   INDIA TOUR OF ZIMBABWE ODI SERIES 2022  20 AUG 2022  12:45 PM IST
2   INDIA TOUR OF ZIMBABWE ODI SERIES 2022  22 AUG 2022  12:45 PM IST
3                            ASIA CUP 2022  28 AUG 2022   7:30 PM IST
4                            ASIA CUP 2022  31 AUG 2022   7:30 PM IST
5  AUSTRALIA TOUR OF INDIA T20 SERIES 2022  20 SEP 2022   7:30 PM IST
6  AUSTRALIA TOUR OF INDIA T20 SERIES 2022  23 SEP 2022   7:30 PM IST
7  AUSTRALIA TOUR OF INDIA T20 SERIES 2022  25 SEP 2022   7:30 PM IST

In [17]:
t=df['Place'].str.split(pat='-',expand = True)
t

           0                                                  1
0   1st ODI            Harare Sports Club, Harare\nMatch Centre
1   2nd ODI            Harare Sports Club, Harare\nMatch Centre
2   3rd ODI            Harare Sports Club, Harare\nMatch Centre
3  1st T20I    Dubai International Cricket Stadium, Dubai\nM...
4  2nd T20I    Dubai International Cricket Stadium, Dubai\nM...
5  1st T20I    Punjab Cricket Association IS Bindra Stadium,...
6  2nd T20I    Vidarbha Cricket Association Stadium, Nagpur\...
7  3rd T20I    Rajiv Gandhi International Stadium, Hyderabad...

In [18]:
k = t[1].str.split(pat='\n',expand = True)
k

                                                   0             1
0                         Harare Sports Club, Harare  Match Centre
1                         Harare Sports Club, Harare  Match Centre
2                         Harare Sports Club, Harare  Match Centre
3         Dubai International Cricket Stadium, Dubai  Match Centre
4         Dubai International Cricket Stadium, Dubai  Match Centre
5   Punjab Cricket Association IS Bindra Stadium,...  Match Centre
6       Vidarbha Cricket Association Stadium, Nagpur  Match Centre
7      Rajiv Gandhi International Stadium, Hyderabad  Match Centre

In [19]:
df['Series'] = s[0]
df['Date'] = s[1]
df['time'] = s[2]
df['Match_Title'] = t[0]
df['Place'] = k[0]

In [20]:
df

,Series,Place,Date,time,Match_Title
0,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club, Harare",18 AUG 2022,12:45 PM IST,1st ODI
1,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club, Harare",20 AUG 2022,12:45 PM IST,2nd ODI
2,INDIA TOUR OF ZIMBABWE ODI SERIES 2022,"Harare Sports Club, Harare",22 AUG 2022,12:45 PM IST,3rd ODI
3,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai",28 AUG 2022,7:30 PM IST,1st T20I
4,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai",31 AUG 2022,7:30 PM IST,2nd T20I
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",20 SEP 2022,7:30 PM IST,1st T20I
6,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium, Nagpur",23 SEP 2022,7:30 PM IST,2nd T20I
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,"Rajiv Gandhi International Stadium, Hyderabad",25 SEP 2022,7:30 PM IST,3rd T20I

In [21]:
driver.close()

         
                  3:  https://www.guru99.com/exception-handling-selenium.html

In [22]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [23]:
url = 'https://www.guru99.com/'
driver.get(url)

In [24]:
sel = driver.find_element(By.XPATH,'/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5')

In [25]:
sel.click()

In [26]:
ex = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a')

In [27]:
ex.click()

In [30]:
name = []
for i in range(2,43):
    xpath = "//*[@id='post-1953']/div/div/table/tbody/tr[%s]/td[1]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    name.append(n)

In [31]:
name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [32]:
des = []
for i in range(2,43):
    xpath = "//*[@id='post-1953']/div/div/table/tbody/tr[%s]/td[2]"%(i)
    de = driver.find_element(By.XPATH,xpath).text
    des.append(de)

In [33]:
des

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [34]:
df = pd.DataFrame({'Exception Name':name,'Description':des})
df

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

         
         
         https://www.statisticstimes.com/economy/india-statistics.php

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [37]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [38]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [39]:
ecn = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')

In [40]:
ecn.click()

In [41]:
ind = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')

In [42]:
ind.click()

In [43]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')

In [44]:
gdp.click()

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00396463+2188387]
	Ordinal0 [0x0032E461+1762401]
	Ordinal0 [0x00243D78+802168]
	Ordinal0 [0x00237210+750096]
	Ordinal0 [0x0023675A+747354]
	Ordinal0 [0x00235D3F+744767]
	Ordinal0 [0x00234C28+740392]
	Ordinal0 [0x00235228+741928]
	Ordinal0 [0x0023EF2F+782127]
	Ordinal0 [0x00249FBB+827323]
	Ordinal0 [0x0024D310+840464]
	Ordinal0 [0x002354F6+742646]
	Ordinal0 [0x00249BF3+826355]
	Ordinal0 [0x0029CF6D+1167213]
	Ordinal0 [0x0028C5F6+1099254]
	Ordinal0 [0x00266BE0+945120]
	Ordinal0 [0x00267AD6+948950]
	GetHandleVerifier [0x006371F2+2712546]
	GetHandleVerifier [0x0062886D+2652765]
	GetHandleVerifier [0x0042002A+520730]
	GetHandleVerifier [0x0041EE06+516086]
	Ordinal0 [0x0033468B+1787531]
	Ordinal0 [0x00338E88+1805960]
	Ordinal0 [0x00338F75+1806197]
	Ordinal0 [0x00341DF1+1842673]
	BaseThreadInitThunk [0x75686A14+36]
	RtlInitializeExceptionChain [0x7797A9FF+143]
	RtlInitializeExceptionChain [0x7797A9CA+90]

In [46]:
rank = []
for i in range(1,34):
    xpath = "//*[@id='table_id']/tbody/tr[%s]/td[1]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    rank.append(n)

In [47]:
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [48]:
state = []
for i in range(1,34):
    xpath = "//*[@id='table_id']/tbody/tr[%s]/td[2]"%(i)
    sta = driver.find_element(By.XPATH,xpath).text
    state.append(sta)

In [49]:
state

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [50]:
Gs19_20 = []
for i in range(1,34):
    xpath = "//*[@id='table_id']/tbody/tr[%s]/td[3]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    Gs19_20.append(n)

In [51]:
Gs19_20

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [53]:
Gs18_19 = []
for i in range(1,34):
    xpath = "//*[@id='table_id']/tbody/tr[%s]/td[4]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    Gs18_19.append(n)

In [54]:
Gs18_19

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [55]:
share = []
for i in range(1,34):
    xpath = "//*[@id='table_id']/tbody/tr[%s]/td[5]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    share.append(n)

In [56]:
share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [57]:
gdp = []
for i in range(1,34):
    xpath = "//*[@id='table_id']/tbody/tr[%s]/td[6]"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    gdp.append(n)

In [58]:
gdp

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [59]:
import pandas as pd

In [60]:
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP(19_20)':Gs19_20,'GSDP(18_19)':Gs18_19,'Share':share,'GDP':gdp})
df

   Rank                      State GSDP(19_20) GSDP(18_19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

In [61]:
driver.close()

                             
                             
                           Github

In [62]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [63]:
url = 'https://github.com/'
driver.get(url)

In [64]:
exp = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')

In [65]:
exp.click()

In [66]:
tre = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')

In [67]:
tre.click()

In [70]:
title = []
details = driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for g in details:
    title.append(g.text)

In [71]:
title

['pacocoursey / cmdk',
 'TheAlgorithms / Python',
 'InterviewReady / system-design-resources',
 'Alcibiades-Capital / mev_bundle_generator',
 'craftzdog / dotfiles-public',
 'hasura / graphql-engine',
 'eugeneyan / applied-ml',
 'MatrixTM / MHDDoS',
 'onekey-sec / unblob',
 'rad9800 / TamperingSyscalls',
 'jwasham / coding-interview-university',
 'toeverything / AFFiNE',
 'Baiyuetribe / paper2gui',
 'Asabeneh / 30-Days-Of-React',
 'duckdb / duckdb',
 'RalfJung / minirust',
 'datahub-project / datahub',
 'microsoft / qlib',
 'labmlai / annotated_deep_learning_paper_implementations',
 'iptv-org / iptv',
 'leochen-g / wechat-assistant-pro',
 'openairplay / airplay2-receiver',
 'Developer-Y / cs-video-courses',
 'withastro / astro',
 'gofiber / fiber']

In [73]:
len(title)

25

In [74]:
des = []
for i in range(1,26):
    try:
        xpath = "//*[@id='js-pjax-container']/div[3]/div/div[2]/article[%s]/p"%(i)
        de = driver.find_element(By.XPATH,xpath).text
        des.append(de)
    except NoSuchElementException as e:
        des.append('--')

In [75]:
des

['Fast, unstyled command menu React component.',
 'All Algorithms implemented in Python',
 'These are the best resources for System Design on the Internet',
 'A MEV bundle generator written in Rust',
 'My personal dotfiles',
 'Blazing fast, instant realtime GraphQL APIs on your DB with fine grained access control, also trigger webhooks on database events.',
 'Papers & tech blogs by companies sharing their work on data science & machine learning in production.',
 'Best DDoS Attack Script Python3, (Cyber / DDos) Attack With 56 Methods',
 'Extract files from any kind of container formats',
 '--',
 'A complete computer science study plan to become a software engineer.',
 'There can be more than Notion and Miro. Affine is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 'Convert AI papers to GUI，Make it easy and convenient for everyone to use artificial intelligence technology。让每个人都简单方便的使用前沿人工智能技术',
 '30 Days of React challenge is a step by step guide to learn React in 30 days. It requires HTML, CSS, and JavaScript knowledge. You should be comfortable with JavaScript before you start to React. If you are not comfortable with JavaScript check out 30DaysOfJavaScript. This is a continuation of 30 Days Of JS. This challenge may take more than 100…',
 'DuckDB is an in-process SQL OLAP Database Management System',
 'A precise specification for "Rust lite / MIR plus"',
 'The Metadata Platform for the Modern Data Stack',
 'Qlib is an AI-oriented quantitative investment platform, which aims to realize the potential, empower the research, and create the value of AI technologies in quantitative investment. With Qlib, you can easily try your ideas to create better Quant investment strategies. An increasing number of SOTA Quant research works/papers are released in Qlib.',
 '50! Implementations/tutorials of deep learning papers with side-by-side notes ; including transformers (original, xl, switch, feedback, vit, ...), optimizers (adam, adabelief, ...), gans(cyclegan, stylegan2, ...), reinforcement learning (ppo, dqn), capsnet, distillation, ...',
 'Collection of publicly available IPTV channels from all over the world',
 '智能微秘书客户端，搭配',
 'AirPlay 2 Receiver - Python implementation',
 'List of Computer Science courses with video lectures.',
 "Build faster websites with Astro's next-gen island architecture",
 'Express inspired web framework written in Go']

In [77]:
lang = []
for i in range(1,26):
    try:
        xpath = "//*[@id='js-pjax-container']/div[3]/div/div[2]/article[%s]/div[2]/span[1]/span[2]"%(i)
        lan = driver.find_element(By.XPATH,xpath).text
        lang.append(lan)
    except NoSuchElementException as e:
        lang.append('--')

In [78]:
lang

['TypeScript',
 'Python',
 '--',
 'Rust',
 'Lua',
 'Haskell',
 '--',
 'Python',
 'Python',
 'C++',
 '--',
 'TypeScript',
 'Jupyter Notebook',
 'JavaScript',
 'C++',
 '--',
 'Java',
 'Python',
 'Jupyter Notebook',
 'JavaScript',
 'JavaScript',
 'Python',
 '--',
 'TypeScript',
 'Go']

In [79]:
cont = []
for i in range(1,26):
    try:
        xpath = "//*[@id='js-pjax-container']/div[3]/div/div[2]/article[%s]/div[2]/a[2]"%(i)
        con = driver.find_element(By.XPATH,xpath).text
        cont.append(con)
    except NoSuchElementException as e:
        cont.append('--')

In [80]:
cont

['41',
 '36,360',
 '807',
 '45',
 '708',
 '2,381',
 '2,944',
 '1,239',
 '12',
 '31',
 '61,541',
 '187',
 '135',
 '3,909',
 '555',
 '12',
 '1,678',
 '1,655',
 '1,153',
 '9,411',
 '71',
 '86',
 '5,958',
 '705',
 '1,095']

In [81]:
df2 = pd.DataFrame({'Title':title,'Descrption':des,'Language':lang,'Contributors':cont})
df2

,Title,Descrption,Language,Contributors
0,pacocoursey / cmdk,"Fast, unstyled command menu React component.",TypeScript,41
1,TheAlgorithms / Python,All Algorithms implemented in Python,Python,"36,360"
2,InterviewReady / system-design-resources,These are the best resources for System Design...,--,807
3,Alcibiades-Capital / mev_bundle_generator,A MEV bundle generator written in Rust,Rust,45
4,craftzdog / dotfiles-public,My personal dotfiles,Lua,708
5,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",Haskell,"2,381"
6,eugeneyan / applied-ml,Papers & tech blogs by companies sharing their...,--,"2,944"
7,MatrixTM / MHDDoS,"Best DDoS Attack Script Python3, (Cyber / DDos...",Python,"1,239"
8,onekey-sec / unblob,Extract files from any kind of container formats,Python,12
9,rad9800 / TamperingSyscalls,--,C++,31
10,jwasham / coding-interview-university,A complete computer science study plan to beco...,--,"61,541"
11,toeverything / AFFiNE,There can be more than Notion and Miro. Affine...,TypeScript,187
12,Baiyuetribe / paper2gui,Convert AI papers to GUI，Make it easy and conv...,Jupyter Notebook,135
13,Asabeneh / 30-Days-Of-React,30 Days of React challenge is a step by step g...,JavaScript,"3,909"
14,duckdb / duckdb,DuckDB is an in-process SQL OLAP Database Mana...,C++,555
15,RalfJung / minirust,"A precise specification for ""Rust lite / MIR p...",--,12
16,datahub-project / datahub,The Metadata Platform for the Modern Data Stack,Java,"1,678"
17,microsoft / qlib,Qlib is an AI-oriented quantitative investment...,Python,"1,655"
18,labmlai / annotated_deep_learning_paper_implem...,50! Implementations/tutorials of deep learning...,Jupyter Notebook,"1,153"
19,iptv-org / iptv,Collection of publicly available IPTV channels...,JavaScript,"9,411"
20,leochen-g / wechat-assistant-pro,智能微秘书客户端，搭配,JavaScript,71
21,openairplay / airplay2-receiver,AirPlay 2 Receiver - Python implementation,Python,86
22,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,--,"5,958"
23,withastro / astro,Build faster websites with Astro's next-gen is...,TypeScript,705
24,gofiber / fiber,Express inspired web framework written in Go,Go,"1,095"

                                    
                                    
                                    
                              https:/www.billboard.com/

In [83]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [84]:
url = 'https:/www.billboard.com/'
driver.get(url)

In [85]:
chrt = driver.find_element(By.XPATH,'/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')

In [86]:
chrt.click()

In [87]:
h_100 = driver.find_element(By.XPATH,'/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a')

In [88]:
h_100.click()

WebDriverException: Message: unknown error: cannot determine loading status
from unknown error: unexpected command response
  (Session info: chrome=104.0.5112.81)
Stacktrace:
Backtrace:
	Ordinal0 [0x00396463+2188387]
	Ordinal0 [0x0032E461+1762401]
	Ordinal0 [0x00243D78+802168]
	Ordinal0 [0x00237210+750096]
	Ordinal0 [0x0023675A+747354]
	Ordinal0 [0x00235D3F+744767]
	Ordinal0 [0x00234C28+740392]
	Ordinal0 [0x00235228+741928]
	Ordinal0 [0x0023EF2F+782127]
	Ordinal0 [0x00249FBB+827323]
	Ordinal0 [0x0024D310+840464]
	Ordinal0 [0x002354F6+742646]
	Ordinal0 [0x00249BF3+826355]
	Ordinal0 [0x0029CF6D+1167213]
	Ordinal0 [0x0028C5F6+1099254]
	Ordinal0 [0x00266BE0+945120]
	Ordinal0 [0x00267AD6+948950]
	GetHandleVerifier [0x006371F2+2712546]
	GetHandleVerifier [0x0062886D+2652765]
	GetHandleVerifier [0x0042002A+520730]
	GetHandleVerifier [0x0041EE06+516086]
	Ordinal0 [0x0033468B+1787531]
	Ordinal0 [0x00338E88+1805960]
	Ordinal0 [0x00338F75+1806197]
	Ordinal0 [0x00341DF1+1842673]
	BaseThreadInitThunk [0x75686A14+36]
	RtlInitializeExceptionChain [0x7797A9FF+143]
	RtlInitializeExceptionChain [0x7797A9CA+90]

In [91]:
details = []
det = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for g in det:
    details.append(g.text)

In [92]:
details

['Break My Soul\nBeyonce\n6\n1\n7',
 'About Damn Time\nLizzo\n1\n1\n16',
 'As It Was\nHarry Styles\n2\n1\n18',
 'Running Up That Hill (A Deal With God)\nKate Bush\n3\n3\n30',
 'Wait For U\nFuture Featuring Drake & Tems\n5\n1\n14',
 'First Class\nJack Harlow\n4\n1\n17',
 'Bad Habit\nSteve Lacy\n11\n7\n5',
 'Me Porto Bonito\nBad Bunny & Chencho Corleone\n8\n6\n13',
 'Sunroof\nNicky Youre & dazy\n12\n9\n10',
 'Late Night Talking\nHarry Styles\n7\n4\n11',
 'I Like You (A Happier Song)\nPost Malone Featuring Doja Cat\n9\n9\n9',
 'Heat Waves\nGlass Animals\n10\n1\n81',
 'Cuff It\nBeyonce\n-\n13\n1',
 'The Kind Of Love We Make\nLuke Combs\n17\n13\n7',
 'Wasted On You\nMorgan Wallen\n14\n9\n38',
 'Titi Me Pregunto\nBad Bunny\n16\n5\n13',
 'Stay\nThe Kid LAROI & Justin Bieber\n18\n1\n56',
 'Big Energy\nLatto\n13\n3\n41',
 'Alien Superstar\nBeyonce\n-\n19\n1',
 'Jimmy Cooks\nDrake Featuring 21 Savage\n15\n1\n7',
 'You Proof\nMorgan Wallen\n22\n6\n12',
 'Church Girl\nBeyonce\n-\n22\n1',
 "I Ain't Worried\nOneRepublic\n24\n23\n8",
 'Numb Little Bug\nEm Beihold\n19\n18\n27',
 'She Had Me At Heads Carolina\nCole Swindell\n25\n25\n10',
 "I'm That Girl\nBeyonce\n-\n26\n1",
 'Energy\nBeyonce Featuring BEAM\n-\n27\n1',
 'Glimpse Of Us\nJoji\n21\n8\n8',
 'Ghost\nJustin Bieber\n20\n5\n45',
 'Cozy\nBeyonce\n-\n30\n1',
 'Get Into It (Yuh)\nDoja Cat\n23\n20\n35',
 'Moscow Mule\nBad Bunny\n26\n4\n13',
 'Shivers\nEd Sheeran\n27\n4\n47',
 'Like I Love Country Music\nKane Brown\n30\n26\n11',
 'Vegas\nDoja Cat\n28\n28\n9',
 'Cold Heart (PNAU Remix)\nElton John & Dua Lipa\n29\n7\n48',
 'In A Minute\nLil Baby\n31\n14\n17',
 '5 Foot 9\nTyler Hubbard\n48\n38\n8',
 'Sticky\nDrake\n36\n6\n7',
 'Rock And A Hard Place\nBailey Zimmerman\n33\n24\n8',
 'Plastic Off The Sofa\nBeyonce\n-\n41\n1',
 'Fall In Love\nBailey Zimmerman\n37\n35\n14',
 "Virgo's Groove\nBeyonce\n-\n43\n1",
 'Provenza\nKarol G\n34\n25\n15',
 'Something In The Orange\nZach Bryan\n41\n30\n15',
 'Efecto\nBad Bunny\n44\n34\n13',
 'Summer Renaissance\nBeyonce\n-\n47\n1',
 'Super Gremlin\nKodak Black\n39\n3\n39',
 'Last Night Lonely\nJon Pardi\n40\n40\n10',
 'Never Sleep\nNAV, Travis Scott & Lil Baby\n-\n50\n1',
 'Heated\nBeyonce\n-\n51\n1',
 'Damn Strait\nScotty McCreery\n32\n32\n18',
 'Thique\nBeyonce\n-\n53\n1',
 'Take My Name\nParmalee\n46\n22\n18',
 'Move\nBeyonce Featuring Grace Jones & Tems\n-\n55\n1',
 'Hot Shit\nCardi B, Ye & Lil Durk\n45\n13\n5',
 'Left And Right\nCharlie Puth Featuring Jung Kook\n47\n22\n6',
 'Son Of A Sinner\nJelly Roll\n56\n56\n5',
 'Party\nBad Bunny & Rauw Alejandro\n54\n14\n13',
 'Sleazy Flow\nSleazyWorld Go Featuring Lil Baby\n53\n47\n10',
 'Ojitos Lindos\nBad Bunny & Bomba Estereo\n64\n26\n13',
 "F.N.F. (Let's Go)\nHitkidd & Glorilla\n66\n62\n10",
 'Numb\nMarshmello & Khalid\n60\n60\n5',
 'Pure/Honey\nBeyonce\n-\n64\n1',
 'Betty (Get Money)\nYung Gravy\n59\n59\n4',
 'New Truck\nDylan Scott\n67\n66\n8',
 'Despues de La Playa\nBad Bunny\n58\n6\n13',
 'So Good\nHalsey\n62\n55\n8',
 'America Has A Problem\nBeyonce\n-\n69\n1',
 'All Up In Your Mind\nBeyonce\n-\n70\n1',
 'Wishful Drinking\nIngrid Andress With Sam Hunt\n61\n61\n5',
 'Trouble With A Heartbreak\nJason Aldean\n63\n32\n20',
 'Cooped Up\nPost Malone Featuring Roddy Ricch\n57\n12\n12',
 'Tarot\nBad Bunny & Jhay Cortez\n73\n18\n13',
 'Last Last\nBurna Boy\n70\n70\n4',
 'Wild As Her\nCorey Kent\n75\n75\n7',
 'Free Mind\nTems\n77\n77\n3',
 'Unstoppable\nSia\n74\n74\n5',
 'Puffin On Zootiez\nFuture\n69\n4\n14',
 'Truth About You\nMitchell Tenpenny\n82\n80\n3',
 'Whiskey On You\nNate Smith\n71\n71\n7',
 'With A Woman You Love\nJustin Moore\n90\n82\n2',
 'Victoria’s Secret\nJax\n-\n83\n1',
 'Bones\nImagine Dragons\n80\n80\n11',
 'She Likes It\nRussell Dickerson & Jake Scott\n83\n63\n18',
 'At The End Of A Bar\nChris Young With Mitchell Tenpenny\n86\n86\n3',
 'Hotel Lobby (Unc And Phew)\nQuavo & Takeoff\n76\n59\n11',
 'Pick Me Up\nGabby Barrett\n-\n88\n2',
 'Dah Dah DahDah\nNardo Wick\n-\n89\n1',
 'Thousand Miles\nThe Kid LAROI\n50\n15\n15',
 'Ghost Story\nCarrie Underwood\n78\n61\n11',
 'Love Me More\nSam Smith\n84\n73\n9',
 'Thought You Should Know\nMorgan Wallen\n85\n12\n13',
 '2step\nEd Sheeran Featuring Lil Baby\n68\n48\n15',
 'Massive\nDrake\n81\n14\n7',
 'Until I Found You\nStephen Sanchez\n88\n88\n5',
 'Un Ratito\nBad Bunny\n93\n16\n13',
 'Best Thing Since Backroads\nJake Owen\n72\n72\n4',
 'La Corriente\nBad Bunny & Tony Dize\n100\n32\n10',
 'Bzrp Music Sessions, Vol. 52\nBizarrap & Quevedo\n98\n98\n2']

In [93]:
df3 = pd.DataFrame({'Details':details})
df3

                                              Details
0                     Break My Soul\nBeyonce\n6\n1\n7
1                    About Damn Time\nLizzo\n1\n1\n16
2                   As It Was\nHarry Styles\n2\n1\n18
3   Running Up That Hill (A Deal With God)\nKate B...
4   Wait For U\nFuture Featuring Drake & Tems\n5\n...
..                                                ...
95      Until I Found You\nStephen Sanchez\n88\n88\n5
96                   Un Ratito\nBad Bunny\n93\n16\n13
97   Best Thing Since Backroads\nJake Owen\n72\n72\n4
98   La Corriente\nBad Bunny & Tony Dize\n100\n32\n10
99  Bzrp Music Sessions, Vol. 52\nBizarrap & Queve...

[100 rows x 1 columns]

In [94]:
t = df3['Details'].str.split(pat='\n',expand = True)
t

,0,1,2,3,4
0,Break My Soul,Beyonce,6,1,7
1,About Damn Time,Lizzo,1,1,16
2,As It Was,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God),Kate Bush,3,3,30
4,Wait For U,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...
95,Until I Found You,Stephen Sanchez,88,88,5
96,Un Ratito,Bad Bunny,93,16,13
97,Best Thing Since Backroads,Jake Owen,72,72,4
98,La Corriente,Bad Bunny & Tony Dize,100,32,10
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,98,98,2

In [95]:
df3['Name'] = t[0]
df3['Artist'] = t[1]
df3['Last week Rank'] = t[2]
df3['Peak Rank'] = t[3]
df3['week on chart'] =t[4]

In [96]:
df3

,Details,Name,Artist,Last week Rank,Peak Rank,week on chart
0,Break My Soul\nBeyonce\n6\n1\n7,Break My Soul,Beyonce,6,1,7
1,About Damn Time\nLizzo\n1\n1\n16,About Damn Time,Lizzo,1,1,16
2,As It Was\nHarry Styles\n2\n1\n18,As It Was,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God)\nKate B...,Running Up That Hill (A Deal With God),Kate Bush,3,3,30
4,Wait For U\nFuture Featuring Drake & Tems\n5\n...,Wait For U,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...,...
95,Until I Found You\nStephen Sanchez\n88\n88\n5,Until I Found You,Stephen Sanchez,88,88,5
96,Un Ratito\nBad Bunny\n93\n16\n13,Un Ratito,Bad Bunny,93,16,13
97,Best Thing Since Backroads\nJake Owen\n72\n72\n4,Best Thing Since Backroads,Jake Owen,72,72,4
98,La Corriente\nBad Bunny & Tony Dize\n100\n32\n10,La Corriente,Bad Bunny & Tony Dize,100,32,10
99,"Bzrp Music Sessions, Vol. 52\nBizarrap & Queve...","Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,98,98,2

In [99]:
df3 = df3.drop(['Details'],axis=1)
df3

,Name,Artist,Last week Rank,Peak Rank,week on chart
0,Break My Soul,Beyonce,6,1,7
1,About Damn Time,Lizzo,1,1,16
2,As It Was,Harry Styles,2,1,18
3,Running Up That Hill (A Deal With God),Kate Bush,3,3,30
4,Wait For U,Future Featuring Drake & Tems,5,1,14
...,...,...,...,...,...
95,Until I Found You,Stephen Sanchez,88,88,5
96,Un Ratito,Bad Bunny,93,16,13
97,Best Thing Since Backroads,Jake Owen,72,72,4
98,La Corriente,Bad Bunny & Tony Dize,100,32,10
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,98,98,2

                      
                      
                      
                      https://www.naukri.com/data-science-recruiters

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
url = 'https://www.naukri.com/hr-recruiters-consultants '
driver.get(url)

In [12]:
search_job = driver.find_element(By.CLASS_NAME,"sugInp")
search_job

In [13]:
search_job.send_keys("Data Science")

In [14]:
search_bt = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_bt

In [15]:
search_bt.click()

In [18]:
len(name)

50

In [19]:
deg = []
de = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for j in de:
    deg.append(j.text)

In [20]:
deg

['HR Manager',
 'Company Recruiter',
 'Company HR',
 'Company Recruiter',
 'Founder CEO',
 'Recruitment Lead Consultant',
 'Programme Manager',
 'HR Administrator',
 'Director',
 'Human Resource',
 'HR Executive',
 'HR Manager',
 'Executive Hiring',
 'Company HR',
 'Company HR',
 'HR Team Lead',
 'HR Manager',
 'Assistant Manager HR',
 'Senior Executive Talent Acquisition',
 'HR Executive',
 'Manager Talent Acquisition',
 'HR Head',
 'HR MANAGER',
 'HR Recruiter',
 'HR Recruiter',
 'Manager Human Resources',
 'Company Recruiter',
 'Lead Talent acquisition',
 'Proprietor',
 'CEO',
 'Founder CEO',
 'Company Recruitment Head',
 'Project Manager',
 'Business Development Associate',
 'Recruitment Consultant',
 'Senior Manager',
 'Consultant',
 'senior technology instructor',
 'HR Recruiter/HR Excutive',
 'Manager, Technical Recruiting',
 'Technical Recruiter',
 'Erp Implementer',
 'Head Analytics',
 'Chief Technical Officer',
 'Sr Product Manager',
 'Director Global Delivery',
 'Co Founder',
 'HR Manager',
 'Architect',
 'Managing Partner']

In [21]:
len(deg)

50

In [24]:
comp = []
tag = driver.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for h in tag:
    comp.append(h.text)

In [25]:
comp

['Aakash Harit',
 'Data Science Network',
 'shravan Kumar Gaddam',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'Enerlytics Software Solutions Pvt Ltd',
 'subhas patel',
 'LibraryXProject',
 'Abhishek - Only Analytics Hiring - India and',
 'Apidel Technologies Division of Transpower',
 'Institute for Financial Management and Resear',
 'IFMR',
 'Balu Ramesh',
 'Techvantage Systems Pvt Ltd',
 'Asif Lucknowi',
 'Weupskill- Live Wire India',
 'InstaFinancials',
 'CBL Data Science Private Limited',
 'Vaishnavi Kudalkar',
 'Codeachive learning',
 'Priyanka Akiri',
 'Infinitive Software Solutions',
 'Kalpana Dumpala',
 'Innominds Software',
 'Mubarak',
 'MoneyTap',
 'Kushal Rastogi',
 'QuantMagnum Technologies Pvt. Ltd.',
 'Mahesh Babu Channa',
 'SocialPrachar.com',
 'Kapil Devang',
 'BISP Solutions',
 'Sakshi Chhikara',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Ruchi Dhote',
 'Bristlecone India Ltd',
 'Manisha Yadav',
 'Easi Tax',
 'Riya Rajesh',
 'Novelworx Digital Solutions',
 'Rashmi Bhattacharjee',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'Faizan Kareem',
 'FirstTech Consaltants Pvt.Ltd',
 'Rithika dadwal',
 'Affine Analytics',
 'Sandhya Khandagale',
 'Compumatrice Multimedia Pvt Ltd',
 'Shaun Rao',
 'Exela Technologies',
 'Azahar Shaikh',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Manas',
 'Autumn Leaf Consulting Services Private...',
 'kumar',
 'trainin',
 'Sunil Vedula',
 'Nanoprecise Sci Corp',
 'Rajat Kumar',
 'R.S Consultancy &amp; Services',
 'Dhruv Dev Dubey',
 'Confidential',
 'Jayanth N',
 'Dollarbird Information Services Pvt, Ltd',
 'Avodha',
 'Nikitha Palaparthi',
 'SREEDHAR',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Priya Khare',
 'Independent Consultant',
 'Amit Sharma',
 'ASCO consulting',
 'Kanan',
 'NY INST',
 'Shashikant Chaudhary',
 '3D India Staffing Research &amp; Consulting...',
 'Brad',
 'O.C. Tanner',
 'Rutuja Pawar',
 'Demand Matrix',
 'Madhusudhan Sridhar',
 'MADHUSUDHAN SRIDHAR',
 'Ankit Sinha',
 'Suntech Global',
 'Gaurav Chouhan',
 'Strategic Consulting Lab',
 'Rashi Kacker',
 'Impel Labs Pvt. Ltd.',
 'Ashwini',
 'MRP Advisers',
 'Balaji Kolli',
 'Saras Solutions India Pvt Ltd',
 'Rajani Nagaraj',
 'WildJasmine',
 'ROHIT Kumar',
 'LNT Private Limited',
 'Amir Chowdhury',
 'Granular.ai']

In [26]:
len(comp)

100

In [27]:
r_name = comp[0::2]

In [28]:
r_name

['Aakash Harit',
 'shravan Kumar Gaddam',
 'MARSIAN Technologies LLP',
 'Anik Agrawal',
 'subhas patel',
 'Abhishek - Only Analytics Hiring - India and',
 'Institute for Financial Management and Resear',
 'Balu Ramesh',
 'Asif Lucknowi',
 'InstaFinancials',
 'Vaishnavi Kudalkar',
 'Priyanka Akiri',
 'Kalpana Dumpala',
 'Mubarak',
 'Kushal Rastogi',
 'Mahesh Babu Channa',
 'Kapil Devang',
 'Sakshi Chhikara',
 'Ruchi Dhote',
 'Manisha Yadav',
 'Riya Rajesh',
 'Rashmi Bhattacharjee',
 'Faizan Kareem',
 'Rithika dadwal',
 'Sandhya Khandagale',
 'Shaun Rao',
 'Azahar Shaikh',
 'Manas',
 'kumar',
 'Sunil Vedula',
 'Rajat Kumar',
 'Dhruv Dev Dubey',
 'Jayanth N',
 'Avodha',
 'SREEDHAR',
 'Priya Khare',
 'Amit Sharma',
 'Kanan',
 'Shashikant Chaudhary',
 'Brad',
 'Rutuja Pawar',
 'Madhusudhan Sridhar',
 'Ankit Sinha',
 'Gaurav Chouhan',
 'Rashi Kacker',
 'Ashwini',
 'Balaji Kolli',
 'Rajani Nagaraj',
 'ROHIT Kumar',
 'Amir Chowdhury']

In [29]:
comp_name = comp[1::2]

In [30]:
comp_name

['Data Science Network',
 'Shore Infotech India Pvt. Ltd',
 'MARSIAN Technologies LLP',
 'Enerlytics Software Solutions Pvt Ltd',
 'LibraryXProject',
 'Apidel Technologies Division of Transpower',
 'IFMR',
 'Techvantage Systems Pvt Ltd',
 'Weupskill- Live Wire India',
 'CBL Data Science Private Limited',
 'Codeachive learning',
 'Infinitive Software Solutions',
 'Innominds Software',
 'MoneyTap',
 'QuantMagnum Technologies Pvt. Ltd.',
 'SocialPrachar.com',
 'BISP Solutions',
 'BIZ INFOTECNO PRIVATE LIMITED',
 'Bristlecone India Ltd',
 'Easi Tax',
 'Novelworx Digital Solutions',
 'AXESTRACK SOFTWARE SOLUTIONS PRIVATE...',
 'FirstTech Consaltants Pvt.Ltd',
 'Affine Analytics',
 'Compumatrice Multimedia Pvt Ltd',
 'Exela Technologies',
 'NEAL ANALYTICS SERVICES PVT LTD',
 'Autumn Leaf Consulting Services Private...',
 'trainin',
 'Nanoprecise Sci Corp',
 'R.S Consultancy &amp; Services',
 'Confidential',
 'Dollarbird Information Services Pvt, Ltd',
 'Nikitha Palaparthi',
 'JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED',
 'Independent Consultant',
 'ASCO consulting',
 'NY INST',
 '3D India Staffing Research &amp; Consulting...',
 'O.C. Tanner',
 'Demand Matrix',
 'MADHUSUDHAN SRIDHAR',
 'Suntech Global',
 'Strategic Consulting Lab',
 'Impel Labs Pvt. Ltd.',
 'MRP Advisers',
 'Saras Solutions India Pvt Ltd',
 'WildJasmine',
 'LNT Private Limited',
 'Granular.ai']

In [33]:
skill = []
sk = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for k in sk:
    skill.append(k.text)

In [34]:
skill

['Classic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional',
 '.Net, Java, Data Science, Linux Administration, Sql Server Development, Winforms, Wcf Services, Wpf, Telecom Engineering, Technical Management, Software',
 'Data Science, Artificial Intelligence, Machine Learning, Business Analytics, Deep Learning, statistics, Data Analytics, Data Analysis, support vector machine',
 'Mean Stack, javascript, angularjs, mongodb, Web Services, rest, express, Node.js, Big Data, iot, Data Science, Cloud Computing, saas, Aws',
 'Hadoop, Spark, Digital Strategy, Data Architecture, Command Center, Cdp, Dmp, Kafka, Data Science, Data Analysis, Big Data Analytics, Real Time Analysis, SQL',
 'Analytics, Business Intelligence, Business Analytics, Predictive Modeling, Predictive Analytics, Data Science, Data Analysis, Data Analytics, Big Data, Big',
 'Data Science',
 'Machine Learning, algorithms, Go Getter, Computer Science, spark, Big Data, hdfs, sql, cassandra, hadoop, python, scala, java, Data Science, Front End',
 'Technical Training, Software Development, Presentation Skills, B.tech, M.tech, B.e., mca, msc, Computer Science, freshers, jobs in indore, Data Science, itil',
 'Software Development, It Sales, Account Management, Data Analysis, Customer Service, Sr, Software Engineering, Mvc, Ajax, Asp.net, Html, C#, Javascript',
 'Data Science, Python, Data Analytics',
 'Oracle Dba, Data Science, Data Warehousing, ETL, Jupyter, Numpy, Data Transformation, Snowflake, Teradata, Python, Data Manipulation, Relational Databases',
 'Qa, Ui/ux, Java Developer, Java Architect, C++/qt, Php, Lamp, Api, J2ee, Java, Soa, Esb, Middleware, Bigdata Achitect, Hadoop Architect, Deep',
 'Business Intelligence, Data Warehousing, Data Science, Business Analytics, Customer Support, Business Reporting, Bi',
 'Office Administration, Hr Administration, telecalling, client relationship management, Client Acquisition, Sales, Reception, HR, Recruitment, Onboarding, Human',
 'Social Media, digital media maketing, seo, smm, smo, sem, Content Wirting, social media marketing, social media manager, digital media marketing manager',
 'Big Data, Hadoop, Data Analytics, Data Science',
 'React.js, Data Science, Java, Front End, Business Analytics, Backend, Tableau, Python, Qa Testing, Automation Testing',
 'Qlikview, Qlik Sense, Microsoft Azure, Power Bi, Data Science, Machine Learning',
 'Telecalling, Client Interaction, Marketing, Research, Web Development, Social Media Marketing, Data Entry Operation, Excel, Ms Office, Invoicing',
 'Data Science',
 'Corporate Sales, Software Development, Software Sales, Marketing, Creative Designing, Corporate Planning, Senior Management, Crm, Client Relationship',
 'Data Analytics, Data Science, Machine Learning, Deep Learning, Nlp, Data Mining, Python, R, Database Administration, Text Mining',
 'Data Science, Machine Learning, Python, R, Deep Learning, Big Data, Hadoop',
 'Big Data, Data Science, Artificial Intelligence, Hadoop, Ui Development, Php, Freelancing, .Net, Software Testing, Sap, Leadership Hiring',
 'Java, Net, Angularjs, Hr, Infrastructure, Management, Project Management, Business Analysis, Data Science, Information Technology, Technology',
 'Data Science, Artificial Intelligence, Machine Learning, Data Analytics',
 'Software Architecture, Vp Engineering, Product Management, analytics, Data Science, Node.js, Principal Engineer, Big Data, python, angularjs, React.js',
 'Data Science, Hadoop, Rpas, Devops, Python, Aws, Teaching, Big Data',
 'Signal Processing, Machine Learning, Neural Networks, Data Science, Predictive Analytics, Time Series Analysis, Data Visualization, Technical Leadership, Data',
 'Web Technologies, Project Management, Software Architecture, Data Science, Object Oriented Programming, Computer Science, Electrical Engineering, Architecture',
 'Server Administartion, Verilog, Vhdl, Digital Marketing, Market Research, Property Research, Legal, It And Non It Recruitment, Logistics, Supply Chain, Bfsi',
 'Data Analytics, Managed Services, Team Leading, python, Machine Learning, Google Analytics, Dmp, Aws, Campaign Analytics, Digital Campaigns, Audience',
 'Ethical Hacking, Security Operations Center, SOC, Managed Services, Data Science, Machine Learning, Artificial Intelligence, Operations Research, Education',
 'Data Science, Machine Learning, Big Data Analytics, Spark, Python, R, Networking, Network Engineering, Placement, Training, Sql, Marketing, Mainframes, All',
 'Data Science, Artificial Intelligence, analytics, Business Intelligence, python, tableau, Power Bi, qlikview, sql, Data Warehousing, Data Visualization',
 'Machine Learning, Artificial Intelligence, Data Science, Software Engineering, Software Development, Graduate Engineer Trainee, Fresher, Data Analytics, Java',
 'C, C++, Artificial Intelligence, Python, Php, Web Development, Matlab, Data Science, Augmented Reality, C C++',
 'Relationship Management, Retail Sales, Private Banking, Mutual Funds, NISM, Equity, Finance, Financial Products, Financial Services, Verbal, Written',
 'Data Science, Software Engineering',
 'Data Science, Big Data Analytics, Digital Marketing, Content Writing, Ui Development, Database Development, Qa Automation, Python, Project Management',
 'Data Science, Recruitment, Salary',
 'B.Tech, Tableau, Statistics, R, Analytics, Time Series, Data Science, Business Solutions, SQL, Technical Skills, SSAS, SQL Server, Analysis Services, Qlikview',
 'Software Development, Business Intelligence, Big Data Analytics, Database Administration, Data Science, Microsoft Azure, Spark, Cassandra, Object Oriented',
 'Data Science, Node.js, Angularjs',
 'Data Science, Media Marketing, Resource Planning, Managed Services, Display Advertising, Machine Learning, Python, Etl, Sql',
 'Data Analysis, Learning, Data Science, Computer Science, Communication Skills',
 'Java, Hadoop, R, Machine Learning, Spark, Flume, Hdfs, Data Mining, Sas, Big, Data Science, Cloudera, Impala, Bigdata',
 'Software Development, Core Java, Unit Testing, Customer Experience, Problem Solving, Communication Skills, Mysql, Data Science, Sales Management, Analytics',
 'Machine Learning, Data Science, Product Management, New Product, Data Analysis, Computer Vision, Deep Learning, Python, Remote Sensing']

In [46]:
loc = []
lo = driver.find_elements(By.XPATH,'//span[@class="locIcn"]/small')
for m in lo:
    loc.append(m.text)

In [47]:
loc

[]

In [48]:
df4 = pd.DataFrame({'Recruiter Name':r_name,'Company':comp_name,'Skills_required':skill})
df4

,Recruiter Name,Company,Skills_required
0,Aakash Harit,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,IFMR,Data Science
7,Balu Ramesh,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Vaishnavi Kudalkar,Codeachive learning,"Data Science, Python, Data Analytics"
11,Priyanka Akiri,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET..."
12,Kalpana Dumpala,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
15,Mahesh Babu Channa,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
16,Kapil Devang,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Novelworx Digital Solutions,Data Science
21,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
28,kumar,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
31,Dhruv Dev Dubey,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
33,Avodha,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S..."
34,SREEDHAR,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."
35,Priya Khare,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
36,Amit Sharma,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
39,Brad,O.C. Tanner,"Data Science, Software Engineering"
40,Rutuja Pawar,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
45,Ashwini,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Granular.ai,"Machine Learning, Data Science, Product Manage..."




          https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [49]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [50]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [51]:
title = []
for i in range(0,100):
    xpath = "//*[@id='table-cell-10943-%s-1']"%(i)
    n = driver.find_element(By.XPATH,xpath).text
    title.append(n)

In [52]:
title

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [53]:
author = []
for i in range(0,100):
    xpath = "//*[@id='table-cell-10943-%s-2']"%(i)
    ne = driver.find_element(By.XPATH,xpath).text
    author.append(ne)

In [54]:
len(author)

100

In [56]:
sales = []
for i in range(0,100):
    xpath = "//*[@id='table-cell-10943-%s-3']"%(i)
    sa = driver.find_element(By.XPATH,xpath).text
    sales.append(sa)

In [57]:
len(sales)

100

In [58]:
pub = []
for i in range(0,100):
    xpath = "//*[@id='table-cell-10943-%s-4']"%(i)
    p = driver.find_element(By.XPATH,xpath).text
    pub.append(p)

In [59]:
len(pub)

100

In [60]:
gen = []
for i in range(0,100):
    xpath = "//*[@id='table-cell-10943-%s-5']"%(i)
    ge = driver.find_element(By.XPATH,xpath).text
    gen.append(ge)

In [61]:
len(gen)

100

In [64]:
df5 = pd.DataFrame({'Title':title,'Author':author,'Volume Sales':sales,'Publisher':pub,'Genre':gen})
df5

,Title,Author,Volume Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

                              
                              
                                 https://www.imdb.com/list/ls095964455/

In [65]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [66]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [67]:
name = []
for i in range(1,101):
    try:
        xpath = "//*[@id='main']/div/div[3]/div[3]/div[%s]/div[2]/h3/a"%(i)
        r = driver.find_element(By.XPATH,xpath).text
        name.append(r)
    except NoSuchElementException as e:
        name.append(r)

In [68]:
len(name)

100

In [78]:
year = []
for i in range(1,101):
    try:
        xpath = "//*[@id='main']/div/div[3]/div[3]/div[%s]/div[2]/h3/span[2]"%(i)
        rx = driver.find_element(By.XPATH,xpath).text
        year.append(rx)
    except NoSuchElementException as e:
        year.append('--')

In [79]:
len(year)

100

In [71]:
runtime = []
for i in range(1,101):
    try:
        xpath = "//*[@id='main']/div/div[3]/div[3]/div[%s]/div[2]/p[1]/span[3]"%(i)
        rk = driver.find_element(By.XPATH,xpath).text
        runtime.append(rk)
    except NoSuchElementException as e:
        runtime.append('--')

In [72]:
len(runtime)

100

In [73]:
gen = []
for i in range(1,101):
    try:
        xpath = "//*[@id='main']/div/div[3]/div[3]/div[%s]/div[2]/p[1]/span[5]"%(i)
        ge = driver.find_element(By.XPATH,xpath).text
        gen.append(ge)
    except NoSuchElementException as e:
        gen.append('--')

In [74]:
len(gen)

100

In [75]:
rat = []
for i in range(1,101):
    try:
        xpath = "//*[@id='main']/div/div[3]/div[3]/div[%s]/div[2]/div[1]/div[1]/span[2]"%(i)
        ra = driver.find_element(By.XPATH,xpath).text
        rat.append(ra)
    except NoSuchElementException as e:
        rat.append('--')

In [76]:
len(rat)

100

In [83]:
vot = []
for i in range(1,101):
    try:
        xpath = "//*[@id='main']/div/div[3]/div[3]/div[%s]/div[2]/p[4]/span[2]"%(i)
        vo = driver.find_element(By.XPATH,xpath).text
        vot.append(vo)
    except NoSuchElementException as e:
        vot.append('--')

In [84]:
df6 = pd.DataFrame({'Name':name,'Year':year,'Runtime':runtime,'Genre':gen,'Rating':rat,'Votes':vot})
df6

,Name,Year,Runtime,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"2,022,137"
1,Stranger Things,(2016– ),51 min,"Drama, Fantasy, Horror",8.7,"1,119,096"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.2,"960,067"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"287,014"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"246,607"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,Drama,7.4,"49,278"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"60,178"
97,Criminal Minds,(2005–2020),42 min,"Crime, Drama, Mystery",8.1,"193,451"
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7.1,"40,817"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"233,514"

                           
                           
                           
                           
                           https://archive.ics.uci.edu/

In [85]:
driver = webdriver.Chrome(r'C:\Users\shail\Downloads\chromedriver_win32\chromedriver.exe')

In [86]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [87]:
alll = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')

In [88]:
alll.click()

In [89]:
name = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[1]/table/tbody/tr/td[2]/p/b/a"%(i)
        ra = driver.find_element(By.XPATH,xpath).text
        name.append(ra)
    except NoSuchElementException as e:
        name.append('--')

In [90]:
len(name)

622

In [91]:
typ = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[2]/p"%(i)
        rao = driver.find_element(By.XPATH,xpath).text
        typ.append(rao)
    except NoSuchElementException as e:
        typ.append('--')

In [92]:
len(typ)

622

In [93]:
tas = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[3]/p"%(i)
        rrt = driver.find_element(By.XPATH,xpath).text
        tas.append(rrt)
    except NoSuchElementException as e:
        tas.append('--')

In [94]:
len(tas)

622

In [95]:
att = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[4]/p"%(i)
        rrr = driver.find_element(By.XPATH,xpath).text
        att.append(rrr)
    except NoSuchElementException as e:
        att.append('--')

In [96]:
len(att)

622

In [97]:
inst = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[5]/p"%(i)
        rrrr = driver.find_element(By.XPATH,xpath).text
        inst.append(rrrr)
    except NoSuchElementException as e:
        inst.append('--')

In [98]:
len(inst)

622

In [99]:
attt = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[6]/p"%(i)
        rw = driver.find_element(By.XPATH,xpath).text
        attt.append(rw)
    except NoSuchElementException as e:
        attt.append('--')

In [100]:
len(attt)

622

In [101]:
yr = []
for i in range(2,624):
    try:
        xpath = "/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[%s]/td[7]/p"%(i)
        rww = driver.find_element(By.XPATH,xpath).text
        yr.append(rww)
    except NoSuchElementException as e:
        yr.append('--')

In [102]:
len(yr)

622

In [103]:
df9 = pd.DataFrame({'Name':name,'Data Type':typ,'Task':tas,'Attribute Type':att,'Instances':inst,'Attributes':attt,'Year':yr})
df9

,Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [105]:
df9.head(25)

,Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996
20,Chess (King-Rook vs. King-Knight),"Multivariate, Data-Generator",Classification,"Categorical, Integer",,22,1988
21,Chess (King-Rook vs. King-Pawn),Multivariate,Classification,Categorical,3196,36,1989
22,Chess (King-Rook vs. King),Multivariate,Classification,"Categorical, Integer",28056,6,1994
23,Chess (Domain Theories),Domain-Theory,,,,,
24,Bach Chorales,"Univariate, Time-Series",,"Categorical, Integer",100,6,